#wrap-text > header {
  color: #4056a1;
  margin-top: 75px;
  height: 400px;
  width: 100%;
  background-color: coral;
  position: relative;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
}

header img {
  display: block;
  margin: 0 auto;
}

header div {
  text-align: center;
}

h2 {
  font-weight: normal;
}
h2 span {
  font-weight: bold;
}
