nav {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  height: 75px;
  width: 100vw;
  z-index: 2;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall-dark.png");
  color: #ffffff;
  padding: 1.5em;
  background-color: coral;
  transition: background-color 1s;
}

#logo {
  font-family: "Bungee", sans-serif;
  float: left;
}

.new-button {
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}
.show2 {
  display: block;
}
#down-arrow {
  height: 20px;
  width: 20px;
  position: absolute;
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
