nav {
  top: 0;
  position: fixed;
  height: 75px;
  width: 100vw;
  z-index: 2;
  background-color: #4056a1;
  color: #ffffff;
  padding: 1.5em;
}
nav span {
  float: right;
}

#logo {
  font-family: "Bungee", sans-serif;
  float: left;
}
