textarea {
  width: 100%;
  border: none;
  border-bottom: 4px solid rgb(97, 95, 95);
  background-color: transparent;
  margin: 0 auto;
}

.btn {
  font-family: "Bungee", sans-serif;
  background-color: #4056a1;
  color: white;
  font-size: 24px;
  padding: 5px 10px;
}

.counter {
  float: right;
  font-family: "Bungee", sans-serif;
}

.red-font {
  color: red;
}
article {
  margin-top: 20px;
  margin-bottom: 100px;
  border: 4px #545149 solid;
  padding: 5px;
}

article main {
  width: 97%;
  border: none;
  font-weight: normal;
  border-bottom: 3px #545149 solid;
  padding-bottom: 5px;
}

article header {
  display: flex;
  font-weight: lighter;
  justify-content: space-between;
  padding: 10px 10px 30px 10px;
}
article footer {
  display: flex;
  font-weight: lighter;
  justify-content: space-between;
  padding: 20px 15px 5px 10px;
}

article:hover {
  box-shadow: 10px 10px grey;
}

article:hover header,
article:hover main,
article:hover footer {
  font-weight: 500;
}

.appear {
  color: transparent;
}

article:hover .appear {
  color: #545149;
  font-weight: lighter;
}
